.test-logical-properties {
  top: 10;
  right: 10;
  bottom: 10;
  left: 10;
  inset-block-start: 20;
  inset-block-end: 20;
  inset-inline-start: 20;
  inset-inline-end: 20;

  margin: 30;
  margin-top: 30;
  margin-right: 30;
  margin-bottom: 30;
  margin-left: 30;
  margin-block-start: 30;
  margin-block-end: 30;
  margin-inline-start: 30;
  margin-inline-end: 30;

  padding: 30;
  padding-top: 30;
  padding-right: 30;
  padding-bottom: 30;
  padding-left: 30;
  padding-block-start: 30;
  padding-block-end: 30;
  padding-inline-start: 30;
  padding-inline-end: 30;

  width: 40;
  min-width: 40;
  max-width: 40;
  inline-size: 40;
  min-inline-size: 40;
  max-inline-size: 40;
  height: 40;
  min-height: 40;
  max-height: 40;
  block-size: 40;
  min-block-size: 40;
  max-block-size: 40;

  border-top: 1px solid red;
  border-block-start: 1px solid red;
  border-top-color: red;
  border-block-start-color: red;
  border-top-style: dotted;
  border-block-start-style: dotted;
  border-top-width: 50;
  border-block-start-width: 50;
  border-bottom: 1px solid red;
  border-block-end: 1px solid red;
  border-bottom-color: red;
  border-block-end-color: red;
  border-bottom-style: dotted;
  border-block-end-style: dotted;
  border-bottom-width: 50;
  border-block-end-width: 50;
  border-left: 1px solid red;
  border-inline-start: 1px solid red;
  border-left-color: red;
  border-inline-start-color: red;
  border-left-style: dotted;
  border-inline-start-style: dotted;
  border-left-width: 50;
  border-inline-start-width: 50;
  border-right: 1px solid red;
  border-inline-end: 1px solid red;
  border-right-color: red;
  border-inline-end-color: red;
  border-right-style: dotted;
  border-inline-end-style: dotted;
  border-right-width: 50;
  border-inline-end-width: 50;
  border-start-start-radius: 15;
  border-start-end-radius: 15;
  border-end-start-radius: 15;
  border-end-end-radius: 15;
}
